/***************************************************
 ** Name    :   minigrid.css
 ** Version :   1.0
 ** Author  :   Flavio Everton
 ** Contact :   onew_@outlook.com
 ** Notes   :   import with 'normalize.css` and 'fix.css'
 ***************************************************
 ** Reset Html
 ***************************************************/

  *,
  *:before,
  *:after 
  {
    box-sizing  :   border-box;
    border      :   0;
    padding     :   0;
  }

  body 
  {
    font-size   :   16px;
    line-height :   1.6;
    font-family :   Arial, sans-serif;
  }

/***************************************************
 ** ClearFix
 ***************************************************/
 
  .column--overlay,
  .container,
  .container:after,
  .row:before,
  .row:after 
  {
    clear       :   both;
    display     :   table;
    content     :   ' ';
  }

/***************************************************
 ** columns--overlay
 ***************************************************/

 *[class*="col--"] > 
 .column--overlay,
 *[class^="col--"] > 
 .column--overlay 
  {
    border            :   1px solid rgba(34, 167, 240, .8);
    background-color  :   rgba(34, 167, 240, .2);
    padding           :   12px 0;
    text-align        :   center;
    width             :   100%;
  }

/***************************************************
 ** Container
 ***************************************************/

  .container 
  {
    position    :   relative;
    margin      :   auto;
    /*Required Spacing*/
    width       :   90%;  
    /* Most used resolution 'currently'*/
    max-width   :   1360px;
  }

/***************************************************
 ** Notes : columns: 100% / 12 columns = 8,33% (W3C)
 **         .col--*, .move--*, .row, .no--space
 ***************************************************/

  @media (min-width :  600px) 
  {

    *[class*="col--"],
    *[class^="col--"]
    {
      position        : relative;
      float           : left;
      padding-right   : 1.333%;
      padding-left    : 1.333%;
      min-height      : 1px;
      width           : 100%;
    }

    .col--1   {width  : 8.33%;  }    .move--1  {left : 8.33%;     }
    .col--2   {width  : 16.66%; }    .move--2  {left : 16.66%;    }
    .col--3   {width  : 25%;    }    .move--3  {left : 25%;       }
    .col--4   {width  : 33.33%; }    .move--4  {left : 33.33%;    }
    .col--5   {width  : 41.66%; }    .move--5  {left : 41.66%;    }
    .col--6   {width  : 50%;    }    .move--6  {left : 50%;       }
    .col--7   {width  : 58.33%; }    .move--7  {left : 58.33%;    }
    .col--8   {width  : 66.66%; }    .move--8  {left : 66.66%;    }
    .col--9   {width  : 75%;    }    .move--9  {left : 75%;       }
    .col--10  {width  : 83.33%; }    .move--10 {left : 83.33%;    }
    .col--11  {width  : 91.66%; }    .move--11 {left : 91.66%;    }
    .col--12  {width  : 100%;   }    .move--12 {left : 100%;      }

    .row 
    {
      margin-right  :   -1.333%;
      margin-left   :   -1.333%;
    }

    .row.no--space 
    {
      margin-left   :   0;
      margin-right  :   0;
    }
   
    .row.no--space
    [class*="col--"],
    .row.no--space 
    [class^="col--"]
    {
      padding-left  :   0;
      padding-right :   0;
    }
   
  }
