/*******************************************
 ** Name    :   NovaGrid.css
 ** Version :   1.0
 ** Author  :   Flavio Everton
 ** Contact :   onew_@outlook.com
 ** Notes   :   import with 'normalize.css`

 ** Reset Html
 *****************************************/

  *,
  *:before,
  *:after {
    box-sizing  :   border-box;
    border      :   0;
    padding     :   0;
  }

  body {
    font-size   :   16px;
    line-height :   1.6;
    font-family :   Arial, sans-serif;
  }

/*****************************************
 ** ClearFix
 *****************************************/

  .container,
  .row:before,
  .row:after {
    display     :   table;
    content     :   ' ';
  }
  
  .container:after,
  .row:after{
    clear       :   both;
  }

/*****************************************
 ** columns-overlay
 *****************************************/

  *[class*="col-"] > .column-overlay {
    border            :   1px solid rgba(34, 167, 240, .8);
    background-color  :   rgba(34, 167, 240, .2);
    padding           :   12px 0;
    text-align        :   center;
  }

/*****************************************
 ** Root
 *****************************************/

  .container {
    position    :   relative;
    margin      :   auto;
    /*Required Spacing*/
    width       :   90%;  
    /* Most used resolution 'currently'*/
    max-width   :   1360px;
  }

/*****************************************
 ** Colums
 ** Notes : columns: 100% / 12 columns = 8,33%
 *****************************************/

  @media (max-width :   550px){
    .grid-overlay{
      display: none;
    }
  }

  @media (min-width :   550px) {

    /*************************************** grid-overlay */
    .grid-overlay {
      position: absolute;
      z-index: -999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
    
    .grid-overlay [class^="col-"],
    .grid-overlay .column-overlay,
    .grid-overlay .row {
      height: 100%;
    }

    .grid-overlay .column-overlay {
      background-color:rgba(219, 10, 91, .2);
      border: 0 !important;
    }

    /*************************************** row */

    .row {
      margin-right  :   -1.333%;
      margin-left   :   -1.333%;
    }

    /*************************************** 0 margin & padding */

    .row.no-space {
      margin-left   :   0;
      margin-right  :   0;
    }

    .row.no-space [class^="col-"] {
      padding-left  :   0;
      padding-right :   0;
    }

    /*************************************** columns */

    *[class^="col-"]{
      position: relative;
      float: left;
      padding-right: 1.333%;
      padding-left: 1.333%;
      min-height: 1px;
      width: 100%;
    }

    /* SIZES W3C */

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /*************************************** left ( don't use .move-right-* ) */

    .move-left-1 {right: 8.33%;}
    .move-left-2 {right: 16.66%;}
    .move-left-3 {right: 25%;}
    .move-left-4 {right: 33.33%;}
    .move-left-5 {right: 41.66%;}
    .move-left-6 {right: 50%;}
    .move-left-7 {right: 58.33%;}
    .move-left-8 {right: 66.66%;}
    .move-left-9 {right: 75%;}
    .move-left-10 {right: 83.33%;}
    .move-left-11 {right: 91.66%;}
    .move-left-12 {right: 100%;}

    /*************************************** right (don't use .move-left-* ) */

    .move-right-1 {left: 8.33%;}
    .move-right-2 {left: 16.66%;}
    .move-right-3 {left: 25%;}
    .move-right-4 {left: 33.33%;}
    .move-right-5 {left: 41.66%;}
    .move-right-6 {left: 50%;}
    .move-right-7 {left: 58.33%;}
    .move-right-8 {left: 66.66%;}
    .move-right-9 {left: 75%;}
    .move-right-10 {left: 83.33%;}
    .move-right-11 {left: 91.66%;}
    .move-right-12 {left: 100%;}

  }
